<app-custom-spinner *ngIf="loading"></app-custom-spinner>
<div [hidden]="loading" class="mat-elevation-z8">
  <div class="row header">
    <div class="col-8">
      <h1>Employees</h1>
    </div>
    <div class="col-4">
      <div class="row gx-5">
        <div class="col-6 float-end text-end ms-auto ">
          <button
            class="addButton iconButton"
            mat-fab
            color="accent"
            matTooltip="Add Asset"
            (click)="add()"
            
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    -->

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button
          (click)="edit(i)"
          class="iconButton"
          mat-fab
          color="primary"
          matTooltip="Edit Asset"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
