<h1 mat-dialog-title>Edit Asset {{data.asset.tagId}}</h1>
<div mat-dialog-content>
  <div mat-form-field appearance="fill">
    <mat-label>Asset ID</mat-label>
    <input readonly matInput [(ngModel)]="data.asset.tagId" />
  </div>
  <div mat-form-field appearance="fill">
    <mat-label>Asset Type</mat-label>
    <mat-select [(value)]="data.asset.assetType.id">
      <mat-option
        *ngFor="let assetType of data.assetTypes"
        [value]="data.asset.assetType.id"
      >
        {{assetType.name}}
      </mat-option>
    </mat-select>
  </div>
  <div mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.asset.description" />
  </div>
  <div mat-form-field appearance="fill">
    <mat-label>Employee</mat-label>
    <mat-select [(value)]="data.asset.employee.id">
      <mat-option
        *ngFor="let employee of data.employees"
        [value]="data.asset.employee.id"
      >
        {{employee.name}}
      </mat-option>
    </mat-select>
  </div>
  <div mat-form-field appearance="fill">
    <mat-label>Date Added</mat-label>
    <input matInput [matDatepicker]="picker" [value]="data.asset.dateAdded">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </div>
</div>
