/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.iconButton:hover {
    transform: scale(1.2);
  }


  .header {
    margin-top: 1rem;
    padding-top: 1rem;
  }