<h1 mat-dialog-title>{{ data.title }}</h1>
<div mat-dialog-content>
  <div *ngFor="let options of data">
    <div *ngIf="options.assetFormFieldData.type === input">
      <mat-form-field>
        <mat-label>{{ options.fieldName }}</mat-label>
        <input matInput [(ngModel)]="options.assetFormFieldData.field" />
      </mat-form-field>
    </div>
    <div *ngIf="options.assetFormFieldData.type === dropdown">
        <mat-form-field>
            <mat-label>{{ options.fieldName }}</mat-label>
            <mat-select>
                <mat-option *ngFor="let dropdown of options.assetFormFieldData.field" value="dropdown.id">
                    {{dropdown.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
  </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
</div>
